<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite" parallel="false"
	preserve-order="true" thread-count="1" verbose="10">
	<test name="Selenium Test Suite">
		<classes>
			<class name="SeleniumTests.SeleniumTests.HomePageTest" />
		</classes>
	</test>
</suite> <!-- Suite -->